<ion-header>
  <ion-toolbar>
    <ion-title>VIDEOGAMES</ion-title>
  </ion-toolbar>
  <ion-button routerLink="/inicio">volver a inicio</ion-button>
</ion-header>


  <ion-content [fullscreen]="true">
    <div  id="container">
      <ion-card>
        <ion-card-header>
          <ion-card-title>call of duty MW-II</ion-card-title>
          <ion-img src="https://i.ytimg.com/vi/7C5rODkt6BQ/maxresdefault.jpg" alt=""></ion-img>
          <ion-card-subtitle>precio:1500$</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          <p>Call of Duty: Modern Warfare II is an upcoming first-person shooter game developed by Infinity Ward and published by Activision</p>
  
        </ion-card-content>
      </ion-card>
  
      <ion-card>
        <ion-card-header>
          <ion-card-title>battlefield 2042</ion-card-title>
          <ion-img src="https://th.bing.com/th/id/R.9d0f78de1663a7333490dfd7c5c0e80a?rik=iyN6M3LrdN5Lng&pid=ImgRaw&r=0" alt=""></ion-img>
          <ion-card-subtitle>precio:1500$</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          <p>Battlefield 2042 is a first-person shooter, developed by DICE and published by Electronic Arts. </p>
  
        </ion-card-content>
      </ion-card>
  
      <ion-card>
        <ion-card-header>
          <ion-card-title>god of war ragnarok</ion-card-title>
          <ion-img src="https://th.bing.com/th/id/OIP.bwX6w6Q_rhLVEtgXfxlrcQHaEK?pid=ImgDet&rs=1" alt=""></ion-img>
          <ion-card-subtitle>precio:1500$</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          <p>God of War Ragnarök is an upcoming action-adventure video game developed by Santa Monica Studio and published by Sony Interactive Entertainment. </p>
  
        </ion-card-content>

        <ion-card>
          <ion-card-header>
            <ion-card-title>the last of us part 2</ion-card-title>
            <ion-img src="https://th.bing.com/th/id/OIP.eGQuPs5deEGRXEfxfWE6tQHaEK?pid=ImgDet&rs=1" alt=""></ion-img>
            <ion-card-subtitle>precio:1500$</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            <p>The Last of Us Part II is a 2020 action-adventure game developed by Naughty Dog and published by Sony Interactive Entertainment for the PlayStation 4. Set five years after The Last of Us (2013) </p>
    
          </ion-card-content>
      
          <ion-card>
            <ion-card-header>
              <ion-card-title>grand theft auto V</ion-card-title>
              <ion-img src="https://th.bing.com/th/id/OIP.d62RqYXQlDzoPuFPQbJVjQHaEo?pid=ImgDet&rs=1" alt=""></ion-img>
              <ion-card-subtitle>precio:1500$</ion-card-subtitle>
            </ion-card-header>
            <ion-card-content>
              <p>TGrand Theft Auto V (also known as Grand Theft Auto Five, GTA 5, GTA V, or GTAV) is a video game developed by Rockstar North. It is the fifteenth installment in the Grand Theft Auto series and the fifth game in the HD Universe title of the series. </p>
      
            </ion-card-content>
        
  
  
  
  
  

  


   